include ../mixins/sub-menu.pug
header.header
  .container
    .row.align-items-center
      .col-2
        .inner-logo
          a(href="/")
            img(src=setting.logo, alt="Logo")
      .col-6
        ul
          li
            a(href="/") Trang chủ
          li(class="sub-menu")
            a(href="/products") Sản phẩm
            if(categories)
              +sub-menu(categories)
          li
            a(href='/cart') Giỏ Hàng (#{totalProducts})
          if(user)
            li
              a(href=`/user/profile`) #{user.fullName}     
            li
              a(href=`/user/logout`) đăng xuất
            li
              a(href='/chat') chat
          else
            li 
              a(href=`/user/login`) Đăng nhập 
            li
              a(href=`/user/register`) đăng ký
          
      .col-4
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm
