extends ../../layouts/default.pug
block main
  h1.mb-4 Phân quyền

  if (records)
    div.text-right
      button.btn.btn-primary.mb-3(
        type="submit"
        button-submit=`/${prefixAdmin}/roles/permissions`
      ) Cập nhật

    table.table.table-hover.table-sm(table-permissions)
      thead
        tr
          th Tính năng
          each item in records
            th.text-center(role-id=item.id) #{item.title}
      tbody
        each feature in featureList
          tr
            td(colspan=records.length + 1)
              b #{feature.featureTitle}
          each element in feature.flags
            tr
              td #{element.flagTitle}
              each item in records
                td.text-center
                  input(
                    type="checkbox"
                    data-id=item.id
                    data-name=element.flag
                    checked=(item.permission.includes(element.flag) ? true : false)
                  )