extends ../../layouts/auth.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        h2 Đổi mật khẩu mới
        form(
          action="/admin/password/reset?_method=PATCH"
          method="POST"
        )

          div(class="form-group")
            label(for="password") Mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Đổi mật khẩu