extends ../../layouts/default.pug

block main
  .container.my-3
    .row
      .col-8.mx-auto
        h2 Nhập OTP
        form(
          action="/user/password/otp"
          method="POST"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              value=email
              readonly 
            )
          div(class="form-group")
            label(for="otp") Mã OTP
            input(
              type="number"
              class="form-control" 
              id="otp"
              name="otp"
              required
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Xác nhận
          a(href='/user/password/forgot') Quên mật khẩu ?