extends ../../layouts/default.pug


block main
  .container.my-3

    include ../../partials/list-btn-friend.pug

    .row
      .col-12
        h3 Danh sách lời mời đã nhận

    .row(data-user-accept=user._id)
      each user in users
        .col-6(user-id=user._id)
          div(class="box-user add")
            div(class="inner-avatar")
              img(
                src="https://robohash.org/hicveldicta.png" 
                alt=user.fullName
              )
            div(class="inner-info")
              div(class="inner-name") #{user.fullName}
              div(class="inner-buttons")
                button(
                  class="btn btn-sm btn-primary mr-1"
                  btn-accept-friend=user._id
                ) Chấp nhận
                button(
                  btn-refuse-friend=user._id
                  class="btn btn-sm btn-secondary mr-1"
                ) Từ chối
                button(
                  class="btn btn-sm btn-secondary mr-1"
                  btn-deleted-friend
                  disable
                ) Đã xóa
                button(
                  class="btn btn-sm btn-primary mr-1"
                  btn-accepted-friend
                  disable
                ) Đã chấp nhận
                